@model IEnumerable<strona_internetowa_mvc.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Strona główna</h2>

<p>
    @Html.ActionLink("Dodaj nowy produkt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
